<div class="container marginTop1">
    <div class="jumbotron">
        <p>
            <img src="~/img/acessonegado.png" alt="Acesso negado" />
            <h2>Acesso Negado!</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a página inicial</a>
</div>