@model HomeViewModel

@await Html.PartialAsync("_Carousel") 

<h2>Os preferidos da semana</h2>
<h4>Tá com fome?</h4>

<div class="row">
    @foreach (var snack in Model.PreferSnacks)
    {
        @*Renderizando a PartialView*@
        await Html.RenderPartialAsync("_SnackResumePartialView", snack);
        //<partial name="_SnackResumePartialView" for="@snack" />
    }
</div>