@model Order


    <h3 class="text-center">
        Você está a um passo de completar o seu pedido
    </h3>
    <form asp-action="Checkout" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label asp-for="Name" class="col-md-4 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerSurname" class="col-md-4 control-label"></label>
            <div class="col-md-5">
                <input asp-for="CustomerSurname" class="form-control" />
                <span asp-validation-for="CustomerSurname" class="text-danger"></span>
            </div>
        </div>
        <div class="fom-group">
            <label asp-for="Address" class="col-md-4 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressComplement" class="col-md-4 control-label"></label>
            <div class="col-md-5">
                <input asp-for="AddressComplement" class="form-control" />
                <span asp-validation-for="AddressComplement" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CEP" class="col-md-4 control-label"></label>
            <div class="col-md-5">
                <input asp-for="CEP" class="form-control" />
                <span asp-validation-for="CEP" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-4 control-label"></label>
            <div class="col-md-5">
                <input asp-for="City" class="form-control" value="Lins" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="State" class="col-md-4 control-label"></label>
            <div class="col-md-5">
                <input asp-for="State" class="form-control" value="São Paulo" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Telephone" class="col-md-4 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-4 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-5">
                <input class="btn btn-success" type="submit" value="Concluir Pedido" />
            </div>
        </div>
    </form>
