<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="img-thumbnail">
        <img src="~/img/snacks/@Model.ImgUrl" class="img-fluid mx-auto d-block" />
    </div>
    <div class="figure-caption">
        <h4>@Model.Price.ToString("c")</h4>
        <h4>@Model.Name</h4>
        <p>@Model.SmallDescription</p>
    </div>
</div>