@* Informando o tipo que vamos receber na view (fortemente tipada) *@
@model SnackListViewModel

    <div><h2>@Model.Category</h2></div>

<div class="row">
    @foreach (var snack in Model.Snacks)
    {
        @*Renderizando a PartialView*@
        //await Html.RenderPartialAsync("_SnackResumePartialView", snack);
        <partial name="_SnackResume" for="@snack" />

    }
</div>

